* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pageWrapper{
    flex-wrap:wrap;
}

.fist{
   color:black;
}
#threeliners {
    position: absolute;
    left: 10px;
    
}

#threeliners div {
    background-color:black;
    width: 40px;
    height: 5px;
    margin: 5px;
    border-radius: 5px;
}
@media only screen and (max-width: 300px){
       #threeliners div{
        display: none;
    }
}
@media only screen and (max-width: 300px){
       .fist{
        display: none;
    }
}


#theNav{
    position: sticky;
    top: 0px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color:#987456;
}



a{
    color:black;
    text-decoration: none;
}

#theNav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

#theNav li {
    list-style: none;
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}

body{
  background-color: #c19a6b;
}

article{
    margin-top: 60px;
    display: flex;
    justify-content:center;
    width: 100%;
    flex-wrap: wrap;
}

img{
    margin-top: 10px;
}

.OurStories{
    align-items: center;
    text-align: center;
    width: 30%;
    min-width: 300px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    flex-wrap: wrap;
}

.OurStories h3{
    background-color: #987456;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    flex-wrap: wrap;
    
}




img{
    border-radius: 200px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px
}

footer {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: absolute;
    top: 2000px;
    width: auto;
    text-align: center;
    padding: 10px;
    flex-wrap: wrap;
}


