* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pageWrapper{
    flex-wrap:wrap;
}

.fist{
    color: #80461b;
}
#threeliners {
    position: absolute;
    left: 10px;
    
}

#threeliners div {
    background-color:#80461b;
    width: 40px;
    height: 5px;
    margin: 5px;
    border-radius: 5px;
}
@media only screen and (max-width: 300px){
       #threeliners div{
        display: none;
    }
}
@media only screen and (max-width: 300px){
       .fist{
        display: none;
    }
}


#theNav{
    position: sticky;
    top: 0px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color:white;
}

body{
  background-color: #80461b
}

a{
    color: #80461b;
    text-decoration: none;
}

#theNav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

#theNav li {
    list-style: none;
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

article h2{
    margin-bottom: 10px;
    margin-top:10px;
}

