@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    background-image: url(blm.jpg);
    background-size: contain;
    height: 20vh;
    width: 100%;
    position: absolute;

}

a {
    color: #000;
    text-decoration: none;
}

.fist {
    position: absolute;
    left: 65px;
    flex-wrap: wrap;
}

#threeliners {
    position: absolute;
    left: 10px;


}

#threeliners div {
    background-color: black;
    width: 40px;
    height: 3px;
    margin: 5px;
    border-radius: 15px;
    border: 1px solid black;
}

nav {
    position: sticky;
    top: 0px;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: end;
    background-color: #deaa88;
    flex-wrap: wrap;
    border: 3px solid black;

    width: 100%;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    float: right;
    flex-wrap: wrap;
    margin-left: 100px;
    width: 100%;
    text-align: center;
}

nav li {
    list-style: none;
    display: flex;
    margin: 10px;
    justify-content: end;
    flex-wrap: wrap;
    text-align: center;
}

#hero {
    display: flex;
    justify-content: center;
    position: sticky;
    flex-wrap: wrap;
}


#form {}


section h2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;

}

section ol {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;

}

img {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.hero{
    display:flex;
    flex-wrap:wrap;
     position: absolute;
     object-fit: contain;
    flex-direction:column;
    justify-content:center;
    width:1100px;
    height:10px;
    position: absolute;
    left:20px;
    top:165px;
    
}
imgContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    Width: 100%;
    flex-wrap: wrap;
    margin: 50px;
    position: absolute;
    top:180px;
}

#section-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% /6);
    height: calc(100%/6);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

#section-iframe {
    display: flex;
    flex-wrap: wrap;

}

#section-img2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 5);
    height: calc(100%/5);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

header {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    flex-wrap: wrap;
    position: absolute;
    top:50px;
}

article {
    list-style: inside;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 5px;
    top: 140px;
}

.button {
    font-size: 1em;
    font-weight: 100;
    margin-left: 110px;
    background-color: #a0785a;
    width: 60px;
    height: 30px;
    display: flex;

}

input {
    margin-bottom: 10px;
    max-width: 275px;
    width: 270px;
    padding: 5px;
    border: 3px solid black;
    background-color: #a0785a;
    color: black;
}

::placeholder {
    color: black;
}

#hero {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/*------------------------------------------*/



.Mental {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
background-image: url(blm2.avif);
    justify-content: center;
    text-color:white;


    width: 50%;
    top: 550px;
    right: 550px;
    position: absolute;
}


.clickme {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    border-radius: 20px;
    flex-wrap: wrap;

}

.container12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    position: absolute;
    bottom: 1px;
    margin: auto;

}



footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    top: 1000px;
    width: 100%;
    text-align: center
}

.imagecontainer {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 1000px;
    top: 600px;


}

.Slideshow {
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    float: left;
    animation: 5s slide infinite;




}

@keyframes slidy {

    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    75% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }

}

.Slideshow figure img {
    overflow: hidden;
}

.Slideshow figure {
    overflow: hidden;
}

.Slideshow {
    overflow: hidden;
}

.Slideshow figure {

    height: 346px;
    width: 346px;
    object-fit: cover;
    margin: auto;
    float: left;
    animation: 5s slidy infinite;


}

.Slideshow figure img {

    object-fit: cover;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 200px;

    height: 346px;
    width: 346px;

    margin: auto;
    float: left;
    animation: 5s slidy infinite;

}
