* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #deaa88;
    height:1550px;
    
}
    
.fist{
    position: absolute;
    left: 65px;
    flex-wrap: wrap;
}

#threeliners {
    position: absolute;
    left: 10px;
   
    
}

#threeliners div {
    background-color: black;
    width: 40px;
    height: 3px;
    margin: 5px;
    border-radius: 15px;
    border: 1px solid black;
}

nav {
    position: sticky;
    top: 0px;
    display: flex;
    text-align: center;
    justify-content: end;
    background-color: #deaa88;
    flex-wrap: wrap;
    border: 3px solid black; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    float: right;
    flex-wrap: wrap;
    margin-left:100px;
}

nav li {
    list-style: none;
    display: flex;
    margin: 10px;
    justify-content: end;
    flex-wrap: wrap;
}


section h2{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    
}

section ol{
    list-style:none;
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    
}

img{
    display: flex;
    justify-content:flex-end;
    flex-wrap:wrap;
}
imgContainer{
    display: flex;
    justify-content:center;
    flex-direction: row;
    Width:100%;
}

#section-img{
    display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% /6);
  height: calc(100%/6);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

#section-iframe{
   display:flex;
   
}

#section-img2{
   display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 5);
  height: calc(100%/5);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

header{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
flex-wrap: wrap;
margin-top: 10px;
}

































.Mental{
    display:flex;
    position:absolute;
    flex-wrap:wrap;
    bottom:80px;
   justify-content:center;
   
  
}
.container{
    display:flex;
    
    justify-content:space-evenly;
    margin:100px;
     flex-wrap:wrap;
     flex-direction:row;
     width:100%;
     top:850px;
     left:50px;
     position: absolute;
     
     
    
    
   
}
.clickme{
    display:flex;
    align-items:flex-end;
    border-radius: 20px;
     flex-wrap:wrap;
    
}
.container12 {
display:flex;
justify-content:space-between;
    padding: 30px;
    width:100%;
    position:absolute;
    bottom: 1px;
    margin:auto;
   
}



footer{
   display:flex;
   flex-direction:row;
   
   
   justify-content:space-between;
   flex-wrap:wrap;
    position: absolute;
    top:1500px;
   
   width: 100%;


    text-align:center

}

.imagecontainer{
    display:flex;
    position:absolute;
     left:700px;
     top:700px;
     
    
    
}

#Slideshow{
      display: flex;
object-fit: cover;
flex-wrap:wrap;
  background-color: white;
    border-radius: 200px;

    height:346px;
    width:346px;
  

}

@keyframes slidy{
    
    0% {left: 0%;}
    20% {left: 0%;}
    25% {left: -100%;}
     45% {left: -100%;}
    50% {left: -200%;}
    75% {left: -200%;}
     75% {left: -300%;}
    95% {left: -300%;}
    100% {left: -400%;}
    
}
    
#Slideshow{
    overflow: hidden;
}
#Slideshow figure img{
    
    display: flex;
object-fit: cover;
flex-wrap:wrap;
  background-color: white;
    border-radius: 200px;

    height:346px;
    width:346px;
object-fit: cover;
    margin:auto;
    
}

#Slideshow figure{
    
   height:346px;
    width:346px;
object-fit: cover;
    margin:auto;

    
   
    font-size:0;
    animation: 30s slidy infinite;
    
    
}
    
    
    
    
    

    
    
